.c--cta {
  background: $color-neutral-gray-10;
  overflow: hidden;
  position: relative;

  .cc--cta {
    @include padding(null cols(1, 12));

    @include mq($bp768) {
      @include padding(null cols(6));
    }

    .inner-wrapper {
      @include card-shadow;
      @include maxwidth(1440px);
      @include padding(rem(48) cols(1, 10));
      background: $color-gradient-obsidian;
      border: rem(1) solid $color-neutral-gray-27;
      border-radius: rem(16);

      @include mq($bp768) {
        @include padding(rem(100) cols(5, 36));
      }
    }

    .f--eyebrow {
      @include margin(null null rem(2));
      text-align: center;

      @include mq($bp768) {
        @include margin(null null rem(12));
      }

      span {
        @include font-semi;
        @include font-size(18, 28);
        @include gradient-text($color-gradient-classic);
        text-transform: uppercase;

        @include mq($bp768) {
          @include font-size(32, 40);
        }
      }
    }

    .f--section-title {
      @include margin(null null rem(30));
      text-align: center;

      h2 {
        @include font-regular;
        @include font-size(30, 40);
        color: $color-neutral-white;

        @include mq($bp768) {
          @include font-size(60, 70);
        }
      }
    }

    .f--description {
      @include margin(null null rem(30));
      text-align: center;

      @include mq($bp768) {
        @include margin(null null rem(50));
      }

      p {
        @include font-regular;
        @include font-size(18, 24);
        color: $color-primary-light-1;

        @include mq($bp768) {
          @include font-size(40, 50);
        }
      }
    }

    .f--image {
      @include margin(null auto rem(40));

      @include mq($bp768) {
        @include margin(null null rem(80));
        max-width: rem(480);
      }
    }

    .f--link {
      text-align: center;

      a {
        @include button;
      }
    }
  }
}