.c--hero {
  position: relative;
  overflow: hidden;

  .cc--hero {
    .image-container {
      aspect-ratio: 1 / 1;

      @include mq($bp768) {
        aspect-ratio: auto;
      }

      .f--image {
        height: 100%;

        img {
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .logo-container {
      @include centered;
      width: 100%;

      .f--image {
        @include padding(null cols(1, 12));

        @include mq($bp768) {
          @include padding(null cols(14));
        }
      }
    }
  }
}