<section class='c--blog'>
  <div class='cc--blog'>
    <div class='inner-wrapper'>
      <div class='flex-container'>
        <div class='title-container'>
          <div class='f--section-title'>
            <h2>
              The Latest from
              <span>The Minutes</span>
            </h2>
          </div>

          <div class='f--description'>
            <p>
              Our editors cover new health and fitness topics every week in our
              online journal, The Minutes
            </p>
          </div>
        </div>
      </div>

      <div class='cards-container'>
        <div class='f--card'>
          <div class='f--image'>
            <img src='https://picsum.photos/400/280' alt='Alt 1' />
          </div>
          <div class='text-container'>
            <div class='f--card-title'>
              <h3>
                7 Ways to Amp Up Your Exercise
              </h3>
            </div>
            <div class='f--description'>
              <p>
                Sometimes you wake up ready to hit the weight rack; other times,
                you can barely...
              </p>
            </div>
            <div class='f--link'>
              <a href='#'>Read More</a>
            </div>
          </div>
        </div>
        <div class='f--card'>
          <div class='f--image'>
            <img src='https://picsum.photos/400/280' alt='Alt 1' />
          </div>
          <div class='text-container'>
            <div class='f--card-title'>
              <h3>
                4 Healthy Lifestyle Habits to Start Now
              </h3>
            </div>
            <div class='f--description'>
              <p>
                Ever wake up one morning craving a reset, perhaps after an
                indulgent holiday season or...
              </p>
            </div>
            <div class='f--link'>
              <a href='#'>Read More</a>
            </div>
          </div>
        </div>
        <div class='f--card'>
          <div class='f--image'>
            <img src='https://picsum.photos/400/280' alt='Alt 1' />
          </div>
          <div class='text-container'>
            <div class='f--card-title'>
              <h3>
                How Much Exercise You Need Every Week
              </h3>
            </div>
            <div class='f--description'>
              <p>
                Paceline Cardmembers unlock five percent cash back on health and
                fitness purchases, and...
              </p>
            </div>
            <div class='f--link'>
              <a href='#'>Read More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>