<section class='c--cta'>
  <div class='cc--cta'>
    <div class='inner-wrapper'>
      <div class='f--eyebrow'>
        <span>Coming Soon</span>
      </div>

      <div class='f--section-title'>
        <h2>The New Paceline Card</h2>
      </div>

      <div class='f--description'>
        <p>
          Join the waitlist and enter code EREWHON to earn additional benefits.
        </p>
      </div>

      <div class='f--image'>
        <img src='https://picsum.photos/500/500' alt='Alt 1' />
      </div>

      <div class='f--link'>
        <a href='#'>Join The Waitlist</a>
      </div>
    </div>
  </div>
</section>