<section class='c--form-embed'>
  <div class='cc--form-embed'>
    <div class='inner-wrapper'>
      <div class='f--section-title'>
        <h2>Activate Your Benefits</h2>
      </div>

      <div class='f--description'>
        <p>
          Submit the information associated with your Erewhon account and we'll
          send you your member-exclusive codes within 7 business days
        </p>
      </div>

      <div class='form-container'>
        <script
          type='text/javascript'
          src='https://paceline.formstack.com/forms/js.php/erewhon_submission'
        ></script><noscript><a
            href='https://paceline.formstack.com/forms/erewhon_submission'
            title='Online Form'
          >Online Form - Erewhon Submission</a></noscript>
      </div>
    </div>
  </div>
</section>