<section class="c--hero">
  <div class="cc--hero">
    <div class="image-container">
      <div class="f--image">
        <img src="https://picsum.photos/1920/730" alt="Alt 1">
      </div>
    </div>

    <div class="logo-container">
      <div class="f--image">
        <img src="https://picsum.photos/800/90" alt="Alt 1">
      </div>
    </div>
  </div>
</section>