<section class='c--info'>
  <div class='cc--info'>
    <div class='header-container'>
      <div class='f--section-title'>
        <h2>
          Erewhon Members who are new to the Paceline app are gifted a welcome
          bonus of
        </h2>
      </div>
    </div>

    <div class='number-container'>
      <div class='number'>
        <span>3600</span>
      </div>

      <div class='number-copy'>
        <span>
          Pacepoints
        </span>
      </div>
    </div>

    <div class='text-container'>
      <div class='f--description'>
        <p>
          to redeem on various health & wellness rewards… That's the equivalent
          of rewards for over 3 weeks of heavy exercise.
        </p>
      </div>
    </div>

    <div class='link-container'>
      <div class='link'>
        <a href='#'>Download the app</a>
      </div>
    </div>
  </div>
</section>
