<section class='c--text-image'>
  <div class='cc--text-image'>
    <div class='flex-container'>
      <div class='image-container'>
        <div class='f--image'>
          <img src='https://picsum.photos/400/700' alt='Alt 1' />
        </div>
      </div>

      <div class='text-container'>
        <div class='f--section-title'>
          <h2>Rewarding healthy progress at your pace</h2>
        </div>

        <div class='icon-container'>
          <div class='f--icon'>
            <img src='https://picsum.photos/350/60' alt='Alt 1' />
          </div>
        </div>

        <div class='description-container'>
          <div class='f--description'>
            <p>
              Paceline is your motivator to live a healthy life, rewarding you
              for making progress toward your health goals. Elevate your heart
              rate for more than 50 minutes each week and reap the financial
              benefits.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>