<section class='c--three-up-cards'>
  <div class='cc--three-up-cards'>
    <div class='inner-wrapper'>
      <div class='header-container'>
        <div class='f--section-title'>
          <h2>How it works</h2>
        </div>
      </div>

      <div class='cards-container'>
        <div class='f--card'>
          <div class='f--eyebrow'>
            <span>Step 1</span>
          </div>
          
          <div class='f--icon'>
            <img src='https://picsum.photos/100/100' alt='Alt 1' />
          </div>

          <div class='f--card-title'>
            <h3>Track Your Activity</h3>
          </div>

          <div class='f--description'>
            <p>
              Our app connects with Apple Watch, Garmin, and Fitbit. Just
              download, connect, and start moving.
            </p>
          </div>
        </div>
        <div class='f--card'>
          <div class='f--eyebrow'>
            <span>Step 2</span>
          </div>

          
          <div class='f--icon'>
            <img src='https://picsum.photos/100/100' alt='Alt 1' />
          </div>

          <div class='f--card-title'>
            <h3>Hit Your Streak</h3>
          </div>

          <div class='f--description'>
            <p>
              150 minutes of elevated heart rate a week = Streak. That’s less
              than 30 minutes a day!
            </p>
          </div>
        </div>

        <div class='f--card'>
          <div class='f--eyebrow'>
            <span>Step 3</span>
          </div>
          
          <div class='f--icon'>
            <img src='https://picsum.photos/100/100' alt='Alt 1' />
          </div>

          <div class='f--card-title'>
            <h3>Unlock Rewards</h3>
          </div>

          <div class='f--description'>
            <p>
              We partner with brands to reward you with exclusive offers and
              sweet deals.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>