@mixin font-regular {
  font-family: 'Barlow', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
}

@mixin font-regular-italic {
  font-family: 'Barlow', Helvetica, Arial, sans-serif;
  font-style: italic;
  font-weight: normal;
}

@mixin font-medium {
  font-family: 'Barlow', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
}

@mixin font-medium-italic {
  font-family: 'Barlow', Helvetica, Arial, sans-serif;
  font-style: italic;
  font-weight: 500;
}

@mixin font-semi-bold {
  font-family: 'Barlow', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
}

@mixin font-bold {
  font-family: 'Barlow', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
}
